h1 {
  color: green;
  text-align: center;
}
p{
  color: red;
}
div {
  background-color: teal;
  width: 50%;
  height: 400px;
  margin: 40px;
  padding: 30px;
  font-family: Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  border: 13px dotted blue;
}
